@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
a {
  text-decoration: none;
}

body {
  background-color: #FDFDFB;
  min-width: 1366px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 1366px;
  margin: 0 auto;
  padding: 35px 100px 26px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header--logo {
  margin-right: 267px;
}
header .header--menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #555248;
  font-size: 14px;
  line-height: 16px;
  margin-right: 278px;
}
header .header--links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
}
header .header--links .heart {
  width: 28px;
  height: 22px;
  background-image: url("../src/heart.svg");
  background-position: bottom right;
  padding: 2px 4px 10px 15px;
}
header .header--links .heart p {
  font-size: 8px;
  line-height: 9px;
  font-family: "Roboto", sans-serif;
  text-align: right;
}

.hero {
  margin: 0 auto;
  width: 1366px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  height: 768px;
  background-image: url("../src/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: right 401px center;
}
.hero .hero--text {
  font-family: "Playfair Display", sans-serif;
  display: flex;
  flex-direction: column;
}
.hero .hero--text p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  width: 258px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
}
.hero .hero--text h1 {
  font-size: 45px;
  line-height: 60px;
  display: block;
  width: 408px;
  text-align: right;
  margin-left: -65px;
  background-image: url("../src/line.svg");
  background-repeat: no-repeat;
  background-position: center left;
  color: #1B1A17;
}
.hero .hero--text h2 {
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 39px;
}
.hero .hero--text a {
  display: block;
  padding: 27px 37px;
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #444240;
  border: 0;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;
}
.hero .hero--image {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.hero .hero--image img {
  height: 805px;
}
.hero .hero--image p {
  display: block;
  font-family: "Prata", sans-serif;
  font-size: 16px;
  line-height: 16px;
  height: fit-content;
  color: #1B1A17;
}
.hero .hero--image .hero--image--price {
  margin-top: 148px;
  margin-right: -80px;
  width: 140px;
  text-align: left;
  background-image: url("../src/line.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
.hero .hero--image .hero--image--size {
  align-self: flex-end;
  margin-bottom: 142.4px;
  margin-left: -115px;
  width: 187px;
  text-align: right;
  background-image: url("../src/line.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.models {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 86px;
  background-color: white;
}
.models h2 {
  font-family: "Playfair display", sans-serif;
  width: fit-content;
  margin: 0 auto;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  font-weight: 400;
}
.models .models--watch-all {
  margin-left: 87.7vw;
  height: 26.5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #444240;
  border-bottom: 1px solid #C4C0B6;
  padding-bottom: 11.5px;
}
.models .models--cards {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.models .models--cards .models--cards--item {
  background-color: #FDFDFB;
  width: 370px;
  padding: 40px 29px;
}
.models .models--cards .models--cards--item .models--cards--item--brand {
  margin-left: 11px;
  margin-bottom: 10px;
  font-family: "Playfair display", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
.models .models--cards .models--cards--item .models--cards--item--price {
  margin-left: 11px;
  font-family: "Prata", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.models .models--cards .models--cards--item img {
  display: block;
  background-image: url("../src/background-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  place-items: center;
  margin-bottom: 19px;
}
.models .models--cards .models--cards--item .models--cards--item--more {
  color: #1B1A17;
  font-family: "Playfire display", sans-serif;
  font-family: 16px;
  line-height: 21px;
  width: fit-content;
  padding-left: 48px;
  background-image: url("../src/line-short.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 11px;
}

.slider {
  width: 100vw;
  background-color: #fdfdfb;
}
.slider .slider--content {
  padding-top: 52px;
  padding-bottom: 21px;
  min-width: 1366px;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../src/slider-bakground-banner.svg"), url("../src/circles.svg");
  background-repeat: no-repeat;
  background-position: left center, right center;
}
.slider .slider--content .slider--content--hero {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.slider .slider--content .slider--content--hero .slider--content--hero--text h2 {
  font-family: "Playfair display", sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  margin-bottom: 38px;
  color: #1B1A17;
}
.slider .slider--content .slider--content--hero .slider--content--hero--text p {
  font-family: "Roboto", sans-serif;
  width: 376px;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
  margin-bottom: 45px;
}
.slider .slider--content .slider--content--hero .slider--content--hero--text a {
  width: fit-content;
  height: fit-content;
  padding: 27px 38px;
  background-color: #D4B098;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
}
.slider .slider--content .slider--content--slider {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin-top: 27px;
}
.slider .slider--content .slider--content--slider #page-number {
  font-family: "Prata", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.subscriber {
  background-color: white;
  width: 100vw;
  padding: 81px 98px 90px 97px;
}
.subscriber .subscriber--content {
  margin: 0 auto;
  min-width: 1366px;
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 71px;
}
.subscriber .subscriber--content .subscriber--content--text {
  display: flex;
  flex-direction: column;
}
.subscriber .subscriber--content .subscriber--content--text h2 {
  font-family: "Playfair display", sans-serif;
  font-size: 32px;
  line-height: 43px;
  font-weight: normal;
  margin-bottom: 40px;
}
.subscriber .subscriber--content .subscriber--content--text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  width: 376px;
  margin-bottom: 119px;
}
.subscriber .subscriber--content .subscriber--content--text .subscriber--content--text--links {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}
.subscriber .subscriber--content .subscriber--content--images {
  display: flex;
  gap: 10px;
}
.subscriber .subscriber--content .subscriber--content--images .subscriber--content--images--column-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}